@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
// font-family: 'Sigmar One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
// font-family: 'Open Sans', sans-serif;
@import './components';
.App {
  font-family: sans-serif;
  margin: 6rem 0;
}

html, body {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

body, p, h2, a, h3, input {
  font-family: 'Open Sans', sans-serif;
}
.container {
  margin: 3rem auto;
  max-width: 600px;
  padding: 1rem;
}

h1 {
  font-family: 'Sigmar One', sans-serif;
  font-size: 48px;
}

h2 {
  font-size: 18px;
}

input {
  height: 2rem;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
}

.title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
